[SupremeBotConfig]
name = /SkSpyJubujgBL8LSs1dHQ==
email = 3Z5r5ULwT17/pFBHbKWeJ9TeLQeqFB4YYLsb/y/76G0=
phone = kqPKBcS4iClZcP0SAzZ+vQ==
addr1 = lPpxYMyJMsZXmzzAbOgMC7MvuwQQy/Am4gVBjVS4Oa8=
addr2 = h4RCtBVpSTfo4Zqh2ekTyA==
addr3 = 5FyXbR8cbTCVhA4O35yzcg==
city = 9AohsWIHkPeM7Xsig7Dr6Q==
post/zip code = nv7CPmeTLESsGWfSlE7qDQ==
country = 8g1uK3PTDVskM/Fz6m8c0Q==
cardtype = 6T1IfGNd5qfmxkwM22/Jfw==
cardno = k+n9RuPYZHjjtwRuhlmHVJPl3ZB31GdJ4CVAAaMMr60=
cardcvv = l6K486sWB0zD5kAzRMbwpQ==
cardmonth = l60wQeFAgyuLjDKqnYWVzw==
cardyear = lecW9az6wybHLr0eAaQzew==

